
<div class="con-main">

    <input type="hidden" class="form-control" value="BOM" id="pgid">
   
    <!-- Horizontal line -->
    <hr class="custom-hr">
    <div id="BOMReportContainer">
    </div>
</div>
<script src="~/js/reports.js"></script>




