
<div class="con-main">
      
    <input type="hidden" class="form-control" value="CommodityExchangeCombination" id="pgid">
    <input type="hidden" class="form-control" value="Master" id="pggrpid">
    
    <form id="myForm">
       
            <div class="row">
                <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="Commodity_Code">Commodity Code</label>
                    <input type="text" class="form-control" id="Commodity_Code" placeholder="Commodity Code" required>

                </div>

                <div class="form-group col-md-3">
                    <label for="Exchange">Exchange</label>
                    <input type="text" class="form-control" id="Exchange" placeholder="Exchange" required>
                </div>

                <div class="form-group col-md-3">
                    <label for="Currency">Currency</label>
                    <input type="text" class="form-control" id="Currency" placeholder="Currency" required>
                </div>

                <div class="form-group col-md-3">
                    <label for="Rate_Per">Rate Per</label>
                    <input type="text" class="form-control" id="Rate_Per" placeholder="Rate Per" required>
                </div>

            </div>
            </div>
        
    </form>
    <!-- Horizontal line -->
    <hr class="custom-hr">
    <h3>Recently Added</h3>
    <div id="masTableContainer">
    </div>
</div>





