
<div class="con-main">
    <input type="hidden" class="form-control" value="Dashboard" id="pgid">

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Completed Enquires</h4>
                    <h2 class="card-title">12</h2>
                </div>
                <div class="icon-box">
                    <i class="fa fa-thumbs-up" aria-hidden="true" style="color: #428553;"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pending Enquires</h4>
                    <h2 class="card-title">6</h2>
                </div>
                <div class="icon-box">
                    <i class="fa fa-spinner" aria-hidden="true" style="color: #5d939c;"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Rejected Enquires</h4>
                    <h2 class="card-title">8</h2>
                </div>
                <div class="icon-box">
                    <i class="fa fa-ban" aria-hidden="true" style="color: #c44956;"></i>
                </div>
            </div>
        </div>
    </div>
  


    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4">
            <div class="cardchart">
                <h4 class="card-title">Price Change Cur. Year (in Lakhs)</h4>
                <div id="chart1" style="height: 300px;"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="cardchart">
                <h4 class="card-title">Price Change Current Year (in Lakhs)</h4>
                <div id="chart2" style="height: 300px;"></div>
            </div>
        </div>
       
    </div>

    <div class="row" style="margin-top: 20px; ">
       
        <div class="col-sm-12">
            <div class="cardchart" style="margin-bottom: 20px;">
                <h4 class="card-title">Price Change Last 3 Years (in Lakhs)</h4>
                <div id="chart3" style="height: 300px;"></div>
            </div>
        </div>
        
    </div>
    <div>
        <p></p>
    </div>
   
</div>

<script src="~/js/charts.js"></script>