
<div class="con-main">

    <input type="hidden" class="form-control" value="ExchangeRateReport" id="pgid">
    <form id="myForm">

        <div class="row">
            <div class="form-row">
                
                <div class="form-group col-md-3">
                    <label for="Currency">Currency</label>
                    <input type="text" class="form-control" id="Currency" placeholder="Currency" required>
                   
                </div>

                <div class="form-group col-md-3">
                    <label for="fromDate">From Date</label>
                    <input type="date" class="form-control" id="fromDate" placeholder="From Date" required min="2018-01-01">
                </div>
                <div class="form-group col-md-3">
                    <label for="toDate">To Date</label>
                    <input type="date" class="form-control" id="toDate" placeholder="To Date" required min="2018-01-01">
                </div>
              
            </div>
        </div>

    </form>
    <!-- Horizontal line -->
    <hr class="custom-hr">
    <div id="ERReportContainer">
    </div>
</div>
<script src="~/js/reports.js"></script>




