
<div class="con-main">

    <input type="hidden" class="form-control" value="PriceCalcReport" id="pgid">
    <form id="myForm">

        <div class="row">
            <div class="form-row">
                
                <div class="form-group col-md-3">
                    <label for="EnqNumber">Enquiry Number</label>
                    <input type="text" class="form-control" id="EnqNumber" placeholder="Enquiry Number" required>
                   
                </div>
              
            </div>
        </div>

    </form>
    <!-- Horizontal line -->
    <hr class="custom-hr">
    <div id="priceCalcReportContainer">
    </div>
</div>
<script src="~/js/reports.js"></script>




