<div class="con-main">
    <input type="hidden" class="form-control" value="ShouldCostEntry" id="pgid">
    <form id="myForm">
        <div class="row">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <h4><span id="enqNumber"></span> </h4>
                </div>
            </div>
        </div>

        <div id="shVTableContainer"></div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="Remarks">Remarks</label>
                <textarea id="Remarks" class="form-control" placeholder="Remarks" required></textarea>
            </div>
        </div>
    </form>
</div>

<script src="~/js/shouldcost.js"></script>
